@import "tailwindcss";

@keyframes wordSlide {
  0% {
    transform: translateY(100%);
    opacity: 0;
    filter: blur(6px);
  }

  15% {
    transform: translateY(0%);
    opacity: 1;
    filter: blur(0px);
  }

  85% {
    transform: translateY(0%);
    opacity: 1;
    filter: blur(0px);
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
    filter: blur(6px);
  }
}

html {
  scroll-behavior: smooth;
}
